.classpath
.project
.settings/
target/
**.classpath
**.project
**.settings/
**.iml
**.ipr
**.iws
**.idea/
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
log/
target/
MOEAFramework-1.17/moea.framework.iml